In [1]:
from pathlib import Path

In [2]:
from fe507 import settings

In [7]:
settings.data_dir = './../data/'

In [10]:
from fe507 import Data, DataSource

sp500 = Data(DataSource.SP500)

In [11]:
sp500.data

             Date   Index  Market cap (m$)       date quarter
0      31.03.1964    79.0         357907.0 1964-03-31  1964Q1
1       1.04.1964    79.0         357907.0 1964-04-01  1964Q2
2       2.04.1964    80.0         357907.0 1964-04-02  1964Q2
3       3.04.1964    80.0         357907.0 1964-04-03  1964Q2
4       6.04.1964    80.0         357907.0 1964-04-06  1964Q2
...           ...     ...              ...        ...     ...
15314  12.12.2022  3991.0       33536670.0 2022-12-12  2022Q4
15315  13.12.2022  4020.0       33781200.0 2022-12-13  2022Q4
15316  14.12.2022  3995.0       33576690.0 2022-12-14  2022Q4
15317  15.12.2022  3896.0       32739940.0 2022-12-15  2022Q4
15318  16.12.2022  3852.0       32375300.0 2022-12-16  2022Q4

[15319 rows x 5 columns]

In [12]:
sp500.rate_of_return()

               Index  Market cap (m$)
date
1964-03-31       NaN              NaN
1964-04-01  0.000000         0.000000
1964-04-02  0.012658         0.000000
1964-04-03  0.000000         0.000000
1964-04-06  0.000000         0.000000
...              ...              ...
2022-12-12  0.014489         0.014279
2022-12-13  0.007266         0.007291
2022-12-14 -0.006219        -0.006054
2022-12-15 -0.024781        -0.024921
2022-12-16 -0.011294        -0.011137

[15319 rows x 2 columns]

In [14]:
sp500.filtered_df

In [15]:
sp500