## S&P 500 Data Analysis

In [1]:
from pathlib import Path

import pandas as pd

data_dir = Path("../data")
csv_sp500 = data_dir / 'SP500.csv'

In [2]:
df_sp500 = pd.read_csv(csv_sp500)

In [8]:
df_sp500

             Date  Index Market cap (m$)
0      31.03.1964     79         357,907
1       1.04.1964     79         357,907
2       2.04.1964     80         357,907
3       3.04.1964     80         357,907
4       6.04.1964     80         357,907
...           ...    ...             ...
15314  12.12.2022  3,991      33,536,670
15315  13.12.2022  4,020      33,781,200
15316  14.12.2022  3,995      33,576,690
15317  15.12.2022  3,896      32,739,940
15318  16.12.2022  3,852      32,375,300

[15319 rows x 3 columns]

In [9]:
df_sp500['date'] = pd.to_datetime(df_sp500.Date, dayfirst=True)

In [10]:
df_sp500

             Date  Index Market cap (m$)       date
0      31.03.1964     79         357,907 1964-03-31
1       1.04.1964     79         357,907 1964-04-01
2       2.04.1964     80         357,907 1964-04-02
3       3.04.1964     80         357,907 1964-04-03
4       6.04.1964     80         357,907 1964-04-06
...           ...    ...             ...        ...
15314  12.12.2022  3,991      33,536,670 2022-12-12
15315  13.12.2022  4,020      33,781,200 2022-12-13
15316  14.12.2022  3,995      33,576,690 2022-12-14
15317  15.12.2022  3,896      32,739,940 2022-12-15
15318  16.12.2022  3,852      32,375,300 2022-12-16

[15319 rows x 4 columns]

In [11]:
df_sp500.set_index(df_sp500.date)

                  Date  Index Market cap (m$)       date
date
1964-03-31  31.03.1964     79         357,907 1964-03-31
1964-04-01   1.04.1964     79         357,907 1964-04-01
1964-04-02   2.04.1964     80         357,907 1964-04-02
1964-04-03   3.04.1964     80         357,907 1964-04-03
1964-04-06   6.04.1964     80         357,907 1964-04-06
...                ...    ...             ...        ...
2022-12-12  12.12.2022  3,991      33,536,670 2022-12-12
2022-12-13  13.12.2022  4,020      33,781,200 2022-12-13
2022-12-14  14.12.2022  3,995      33,576,690 2022-12-14
2022-12-15  15.12.2022  3,896      32,739,940 2022-12-15
2022-12-16  16.12.2022  3,852      32,375,300 2022-12-16

[15319 rows x 4 columns]

In [12]:
df_sp500.drop_duplicates()

             Date  Index Market cap (m$)       date
0      31.03.1964     79         357,907 1964-03-31
1       1.04.1964     79         357,907 1964-04-01
2       2.04.1964     80         357,907 1964-04-02
3       3.04.1964     80         357,907 1964-04-03
4       6.04.1964     80         357,907 1964-04-06
...           ...    ...             ...        ...
15314  12.12.2022  3,991      33,536,670 2022-12-12
15315  13.12.2022  4,020      33,781,200 2022-12-13
15316  14.12.2022  3,995      33,576,690 2022-12-14
15317  15.12.2022  3,896      32,739,940 2022-12-15
15318  16.12.2022  3,852      32,375,300 2022-12-16

[15319 rows x 4 columns]

In [13]:
ror = df_sp500.pct_change()

TypeError: unsupported operand type(s) for /: 'str' and 'str'