In [2]:
import logging

from matplotlib import pyplot as plt

logging.basicConfig(level=logging.ERROR)  # default logging for other libraries
logging.getLogger('fe507').level = logging.DEBUG
from fe507 import Data, Collection, DataSource, settings, CollectionGroup

settings.data_dir = "../data"

In [3]:
sp500 = Data(DataSource.SP500)
b100 = Data(DataSource.BIST100)

DEBUG:fe507.utils:Set up "data_dir" as: ../data
DEBUG:fe507.utils:working on file: /Users/azat/Developer/Learn/FE507-report/data/SP500.xlsx
DEBUG:fe507.utils:read dataframe from excel as:
['Date', 'Index', 'Market cap (m$)', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171', 'Unnamed: 172', 'Unnamed: 173', 'Unnamed: 174', 'Unnamed: 175', 'Unnamed: 176', 'Unnamed: 177', 'Unnamed: 178', 'Unnamed: 179', 'Unnamed: 180', 'Unnamed: 181', 'Unnamed: 182', 'Unnamed: 183', 'Unnamed: 184', 'Unnamed: 185', 'Unnamed: 186', 'Unnamed: 187', 'Unnamed: 188', 'Unnamed: 189', 'Unnamed: 190', 'Unnamed: 191', 'Unnamed: 192', 'Unnamed: 193', 'Unnamed: 194', 'Unnamed: 195', 'Unnamed: 196', 'Unnamed: 197', 'Unnamed: 198', 'Unnamed: 199', 'Unnamed: 200', 'Unnamed: 201', 'Unnamed: 202', 'Unnamed: 203', 'Unnamed: 204', 'Unnamed: 205', 'Unnamed: 206', 'Unnamed: 207', 'Unnamed: 208', 'Unnamed: 209', 'Unnamed: 210', 'Unnamed: 211', 'Unnamed: 212', 'Unnamed: 213', 'Unnamed: 214', 'Unnamed: 215']
DEBUG:fe507.utils:handling source specific fields for DataSource.SP500
DEBUG:fe507.utils:Set up "data_dir" as: ../data
DEBUG:fe507.utils:working on file: /Users/azat/Developer/Learn/FE507-report/data/BIST100.xlsx
DEBUG:fe507.utils:read dataframe from excel as:
['Date', 'Index', 'Market cap (m TL)']
DEBUG:fe507.utils:handling source specific fields for DataSource.BIST100

In [4]:
year_range = {
    "from_year": 2019,
    "to_year": 2022
}

In [12]:
csp = Collection(sp500.data, name="S&P500")
cb1 = Collection(b100.data, name="BIST100")

In [13]:
csp.raw

                 Date    Index  Market cap (m$)       date quarter
date
1964-03-31 1964-03-31    78.98         357907.0 1964-03-31  1964Q1
1964-04-01 1964-04-01    79.24         357907.0 1964-04-01  1964Q2
1964-04-02 1964-04-02    79.70         357907.0 1964-04-02  1964Q2
1964-04-03 1964-04-03    79.94         357907.0 1964-04-03  1964Q2
1964-04-06 1964-04-06    80.02         357907.0 1964-04-06  1964Q2
...               ...      ...              ...        ...     ...
2022-12-12 2022-12-12  3990.56       33536670.0 2022-12-12  2022Q4
2022-12-13 2022-12-13  4019.65       33781200.0 2022-12-13  2022Q4
2022-12-14 2022-12-14  3995.32       33576690.0 2022-12-14  2022Q4
2022-12-15 2022-12-15  3895.75       32739940.0 2022-12-15  2022Q4
2022-12-16 2022-12-16  3852.36       32375300.0 2022-12-16  2022Q4

[15319 rows x 5 columns]

In [14]:
cb1.raw

                 Date    Index  Market cap (m TL)       date quarter
date
1988-01-04 1988-01-04     0.07                1.0 1988-01-04  1988Q1
1988-01-05 1988-01-05     0.07                1.0 1988-01-05  1988Q1
1988-01-06 1988-01-06     0.07                1.0 1988-01-06  1988Q1
1988-01-07 1988-01-07     0.07                1.0 1988-01-07  1988Q1
1988-01-08 1988-01-08     0.07                1.0 1988-01-08  1988Q1
...               ...      ...                ...        ...     ...
2022-12-13 2022-12-13  5256.19          4209786.0 2022-12-13  2022Q4
2022-12-14 2022-12-14  5066.50          4067326.0 2022-12-14  2022Q4
2022-12-15 2022-12-15  5188.82          4180713.0 2022-12-15  2022Q4
2022-12-16 2022-12-16  5214.29          4220547.0 2022-12-16  2022Q4
2022-12-19 2022-12-19  5391.91          4369087.0 2022-12-19  2022Q4

[9121 rows x 5 columns]

/Users/azat/Developer/SDKs/dataspell/lib/python3.10/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/azat/Developer/SDKs/dataspell/lib/python3.10/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

               Index  Market cap (m$)
date
1964-03-31       NaN              NaN
1964-04-02  0.566006              NaN
1964-04-03 -0.654984              NaN
1964-04-06 -1.100615              NaN
1964-04-15 -0.790459              NaN
...              ...              ...
2022-12-06 -0.219080        -0.219039
2022-12-07 -2.051644        -2.052071
2022-12-13 -0.668881        -0.668653
2022-12-15  1.424780         1.424538
2022-12-16 -0.812392        -0.812375

[7409 rows x 2 columns]

Collection(S&P500)